<page-header [action]="phActionTpl" title="职位信息详情">
    <ng-template #phActionTpl>
          <button (click)="openEdit(post)" nz-button nzType="primary">编辑</button>
    </ng-template>
  </page-header>
  
      <nz-card [nzHoverable]="true" [nzBordered]="false">
          <sv-container size="large" title="公司基本信息">
            <sv label="公司名称">{{company.companyName}}</sv>
            <sv label="组织机构代码">{{company.organizationCode}}</sv>
            <sv label="公司详情">{{company.companyDescription}}</sv>
            <sv label="所在城市">{{post.city}}</sv>
            <sv label="公司网站链接">{{company.companyUrl}}</sv>
          </sv-container>
  
          <nz-divider></nz-divider>
  
          <sv-container size="large" title="招聘消息">
            <sv label="职位名称">{{post.postName}}</sv>
            <sv label="工作地点">{{post.postWorkPlace}}</sv>
            <sv label="薪资">{{post.postSalary}}</sv>
            <sv label="职位详情">{{post.postDescription}}</sv>
            <sv label="招聘人数">{{post.numberOfRecruits}}</sv>
            <sv label="工作经验">{{post.postExperience}}</sv>
            <sv label="职位类型">{{post.postJobType}}</sv>
            <sv label="联系邮箱">{{post.postEmail}}</sv>
            <sv label="学历要求">{{post.academicRequirements}}</sv>
            <sv label="联系电话">{{post.postTelephoneNumber}}</sv>
          </sv-container>
        
        </nz-card>
  
  
  <!--编辑弹出框-->
  <nz-modal [(nzVisible)]="editIsVisible" nzWidth="800px" nzTitle="编辑职位信息" (nzOnCancel)="onAddOrEditCancel()"   [nzContent]='editModalContent' [nzFooter]='editModalFooter'>
    
      <ng-template #editModalContent>
        <form nz-form [formGroup]="editForm" >
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzFor="postName" nzRequired>职位名称</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback>
              <input nz-input id="postName" formControlName="postName" minlength="4" placeholder="请输入职位名称">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
              <nz-form-label [nzSpan]="7" nzFor="city" nzRequired>城市</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback>
                <input nz-input id="city" formControlName="city" minlength="4" placeholder="请输入公司城市">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="postSalary" nzRequired>薪资</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                  <input nz-input id="postSalary" formControlName="postSalary" minlength="4" placeholder="请输入薪资">
                </nz-form-control>
              </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSpan]="7"  nzFor="postWorkPlace" nzRequired>工作地点</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback>
              <input nz-input formControlName="postWorkPlace" id="postWorkPlace" placeholder="贵州省贵阳市">
            </nz-form-control>
          </nz-form-item>
  
            <nz-form-item>
                <nz-form-label [nzSpan]="7"  nzFor="postExperience" nzRequired>工作经验</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                  <input nz-input formControlName="postExperience" id="postExperience">
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                  <nz-form-label [nzSpan]="7"  nzFor="numberOfRecruits" nzRequired>招聘人数</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="numberOfRecruits" id="numberOfRecruits" placeholder="请输入招聘人数">
                  </nz-form-control>
                </nz-form-item>
    
          <nz-form-item>
              <nz-form-label [nzSpan]="7" nzFor="postDescription" nzRequired>职位详情</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback>
                <input nz-input id="postDescription" formControlName="postDescription" placeholder="请输入职位详情">
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="postJobType" nzRequired>职位类型</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                  <input nz-input id="postJobType" formControlName="postJobType" placeholder="全职">
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzFor="academicRequirements" nzRequired>学历要求</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input id="academicRequirements" formControlName="academicRequirements" placeholder="本科">
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzFor="postEmail" nzRequired>邮箱</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback>
                      <input nz-input id="postEmail" formControlName="postEmail" placeholder="请输入邮箱">
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="postTelephoneNumber" nzRequired>联系电话</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback>
                        <input nz-input maxlength="11" formControlName="postTelephoneNumber" id="postTelephoneNumber" minlength="11">
                      </nz-form-control>
                    </nz-form-item>
  
        </form>
      </ng-template>
    
      <ng-template #editModalFooter>
        <button (click)="onAddOrEditCancel()" nz-button nzType="default">取消</button>
        <button nz-button nzType="primary" type="submit"  [disabled]="!editForm.valid"  (click)="onEditSubmit()">确认</button>
      </ng-template>
    
    </nz-modal>
  
  