<page-header>
</page-header>

<nz-card [nzBordered]="false">

  <form nz-form [nzLayout]="'inline'" (ngSubmit)="searchUseByrName()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">

      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="recommendNumber">推荐指数</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="searchValue" name="recommendNumber" placeholder="请输入" id="searchRecommendNumber">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="12">
        <button nz-button type="submit" [nzType]="'primary'" class="mx-sm" [nzLoading]="loading">
          <i class="anticon anticon-search"></i><span>查询</span></button>

        <button nz-button type="reset" (click)="getRecommend()" class="mx-sm">
          <i class="anticon anticon-reload"></i>
          <span>重置</span></button>
      </nz-col>
    </nz-row>
  </form>

  <div class="my-md" *ngIf="!disabledButton">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        已选择
        <strong class="text-primary">{{checkedNumber}}</strong> 项&nbsp;&nbsp;
      </ng-template>
    </nz-alert>
  </div>
  <nz-table [nzSize]="'middle'" #nzTable [nzBordered]="true" nzShowSizeChanger [nzData]="recommends" [nzTotal]="total">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox *ngIf="checkbox" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)">

        <th>简历ID</th>
        <th>职位ID</th>
        <th  nzShowSort nzSortKey="score">用户评分</th>
        <th nzShowSort nzSortKey="recommendNumber">推荐指数</th>
        <th nzShowSort nzSortKey="postUpdateTime">更新时间</th>
        <th nz-Width="130px">操作
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)">

        <td>{{data.resumeId}}</td>
        <td>{{data.postId}}</td>
        <td>{{data.score}}</td>
        <td>
          <span *ngIf="data.recommendNumber <= 5">
            <nz-badge nzStatus="default" nzText="推荐"></nz-badge>
          </span>
          <span *ngIf="data.recommendNumber > 5 && data.score <= 7">
            <nz-badge nzStatus="processing" nzText="一般推荐"></nz-badge>
          </span>
          <span *ngIf="data.recommendNumber > 7 ">
            <nz-badge nzStatus="success" nzText="极力推荐"></nz-badge>
          </span>
        </td>
        <td>{{data.postUpdateTime}}</td>
        <td>
          <nz-dropdown>
            <button nz-button nz-dropdown>
              <i class="anticon anticon-menu-unfold"></i><i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
              <li nz-menu-item (click)="openDetail(data)">
                <i class="fa fa-pencil"></i> 查看详情
              </li>
              <li nz-menu-item>
                <li nz-menu-item (click)="openGrade(data)">
                  <i class="fa fa-pencil"></i> 打分
              </li>
            </ul>
          </nz-dropdown>

        </td>
      </tr>
    </tbody>

  </nz-table>

</nz-card>

<!--打分弹出框-->
<nz-modal [(nzVisible)]="editIsVisible" nzWidth="800px" nzTitle="推荐打分" (nzOnCancel)="onAddOrEditCancel()"   [nzContent]='editModalContent' [nzFooter]='editModalFooter'>
  
  <ng-template #editModalContent>
    <form nz-form [formGroup]="editForm" >
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="score" >分数</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
         <input nz-input id="score" formControlName="score" placeholder="请输入分数">
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-template>

  <ng-template #editModalFooter>
    <button (click)="onAddOrEditCancel()" nz-button nzType="default">取消</button>
    <button nz-button nzType="primary" type="submit"  [disabled]="!editForm.valid"  (click)="onEditSubmit()">确认</button>
  </ng-template>

</nz-modal>

